@import "variables.less";
codepen {
  .code-list {}
  .codepen-code {}
  .codepen-type {}
  // CodePen SVG Logo
  .logo {
    width: @font-size-h3;
    /* required to center */
    height: @font-size-h3;
    position: relative;
    top: 3px;
  }
  .outer-ring {
    fill: #fff;
  }
  .inner-box {
    fill: #fff;
  }
  .btn {
    font-size: @font-size-base;
    font-weight: @headings-font-weight;
  }
  .btn-codepen {
    .btn-label {
      position: relative;
      top: -5px;
    }
  }
  body {
    text-align: center;
  }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}
