@import "variables.less";
codepen {
  .code-list {}
  .codepen-code {}
  .codepen-type {}
  // CodePen SVG Logo
  .logo {
    width: @line-height-computed;
    /* required to center */
    height: @line-height-computed;
    position: relative;
    top: 3px;
  }
  .outer-ring {
    fill: black;
  }
  .inner-box {
    fill: black;
  }
  body {
    text-align: center;
  }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {}
