@import "variables.less";
img {
  max-width: 100%;
}

.masonry-brick {
  padding: 0 @padding-base-vertical @padding-base-vertical 0;
  overflow: hidden;
}

#intro {
  background-image: "https://c2.staticflickr.com/4/3901/14486476768_a229bfc2ad_k.jpg";
  background-repeat: no-repeat;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {}
