@import "variables.less";

/*  INTRO PAGE  */

.icon-github {
  font-size: 29px;
  position: relative;
  top: 8px;
  margin-right: @padding-base-horizontal;
}

.creative-commons {
  font-size: @font-size-small;
  a {
    text-decoration: none;
  }
}

.main-page {
  padding: 2vh 5%;
}

#reykjavik {
  background: url(../images/reykjavik.jpg) center;
  height: 175px;
  color: @gray-lighter;
  padding: 36px @padding-base-horizontal;
}

#the-end {
  .icon-github {
    color: @gray-darker;
    font-size: 31px;
    padding: @padding-base-vertical 0;
  }
}


/*  INTRO PAGE END  */


/*   RECENT PHOTOS  */

.flickr-detail-photo {
  padding: @padding-base-vertical @padding-base-horizontal;
  background: @well-bg;
  img {
    max-width: 100%;
    max-height: 75vh;
  }
}

.recent-tile {
  overflow: hidden;
}


/*   RECENT PHOTOS  END  */


/*   FLICKR GALLERY   */

.gallery-thumbs {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}


/* Small devices (tablets, 768px and up) */

@media (min-width: @screen-sm-min) {
  #reykjavik {
    padding: 36px @padding-large-horizontal;
  }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: @screen-md-min) {
  .main-page {
    padding: 3vh 25%;
  }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
  #intro {
    padding: 18vh 0;
  }
}
