<div class="flickr-collection">
  <div ng-repeat="slide in collection.photos.photo track by slide.id" class="slide"
  ng-class="{ current : $index === collection.activeIndex, next: $index < collection.activeIndex}">
    <img ng-src="https://farm{{slide.farm-id}}.staticflickr.com/{{slide.server-id}}/{{slide.id}}_{{slide.secret}}_c.jpg">
    <div class="slide-caption center-block">
      {{slide.title}}<br/>
      {{slide.description._content}}
    </div>
  </div>
</div>
<ul class="pagination">
  <li>
    <a ng-click="collection.slide(collection.activeIndex - 1)">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
  </li>
  <li>
    <a ng-click="collection.slide(collection.activeIndex + 1)">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </li>
  <li>
</ul>

