what {{image}}
<div ng-hide="flickr.imgLoading">
  <h3>{{flickr.photoDetail.title['_content']}}</h3>
  <div>
    {{flickr.photoDetail.description['_content']}}
  </div>
</div>
<img src="https://farm{{flickr.photoDetail.farm-id}}.staticflickr.com/{{flickr.photoDetail.server-id}}/{{flickr.photoDetail.id}}_{{flickr.photoDetail.secret}}_c.jpg" class="flickr-photo" imageonload="flickr.imgLoaded()" />
<nav>
  <ul class="pager" ng-hide="flickr._index === undefined">
    <li>
      <a ng-click="flickr.prevImg()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </li>
    <li>
      <a ng-click="flickr.nextImg()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </li>
    <li>
      <a ng-click="flickr.closeDetail()">
        <span class="glyphicon glyphicon-remove"></span>
      </a>
    </li>
    <!-- <li>
    <a ng-click="">
      <span class="glyphicon glyphicon-resize-full"></span>
    </a>
  </li> -->
  </ul>
</nav>
<div class="loading" ng-show="flickr.imgLoading">
</div>
