<!-- PHOTODETAIL START -->
<div class="recent-detail-photo" ng-hide="photoDetail === null">
  <flickr-img info="photoDetail"></flickr-img>
  <div class="recent-detail-descrip">
    {{photoDetail.title}} {{photoDetail.description._content}}
  </div>
  <div class="detail-meta">
    <ul class="list-unstyled">
      <li><span class="glyphicon glyphicon-info-sign"></span>
        <ul class="list-unstyled">
          <li>{{detailInfo.dates.taken}}</li>
          <li>Views: {{detailInfo.views}}</li>
          <li><a ng-href="{{detailInfo.urls.url[0]['_content']}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a></li>
          <li ng-show="detailInfo.tags.tag.length > 0">
            <ul class="list-inline">
              <li><strong>Tags:</strong></li>
              <li ng-repeat="tag in detailInfo.tags.tag">{{tag['_content']}}</li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- <li><span class="glyphicon glyphicon-share-alt"></span></li> -->
    </ul>
  </div>
  <nav>
    <ul class="pager">
      <li ng-hide="photoDetailIndx === 0">
        <a ng-click="detailPrev()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </li>
      <li>
        <a ng-click="detailClose()">
          <span class="glyphicon glyphicon-remove"></span>
        </a>
      </li>
      <li>
        <a ng-click="detailNext()" ng-hide="photoDetailIndx === (gallery.photoset.photo.length - 1)">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!-- PHOTODETAIL END -->
<!-- ERROR START -->
<br>
<div class="alert alert-danger" role="alert" ng-show="gallery.stat === 'fail'">
  <b>An error occurred</b>
  <br> Code: {{gallery.code}} / Message: {{gallery.message}}
</div>
<!-- ERROR END -->
<!-- THUMBNAILS START -->
<div masonry>
  <div ng-repeat="img in gallery.photoset.photo" class="masonry-brick">
    <img ng-src="https://farm{{img.farm-id}}.staticflickr.com/{{img.server-id}}/{{img.id}}_{{img.secret}}_m.jpg" ng-click="thumbClick($index)">
  </div>
</div>
<!-- THUMBNAILS END -->
