<div class="row">
  <div class="col-md-12">
    <h2>Flickr Album</h2>
    <pre>&lt;flickr-album album-id=&quot;albumID&quot;&gt;&lt;/flickr-album&gt;</pre>
    <div class="alert alert-info" role="alert">
      The attribute "album-id" is passed with call to <a ng-href="https://www.flickr.com/services/api/flickr.people.getPhotos.html" target="_blank">flickr.people.getPhotos</a> as "user_id".
    </div>
    <br/>
    <div class="well well-lg">
      <flickr-album album-id="albumID"></flickr-album>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Recent Photos</h2>
    <pre>&lt;recent-photos flickr-id=&quot;recent&quot;&gt;&lt;/recent-photos&gt;</pre>
    <div class="alert alert-info" role="alert">
      The attribute "flickr-id" is passed with call to <a ng-href="https://www.flickr.com/services/api/flickr.photosets.getPhotos.html" target="_blank">flickr.photosets.getPhotos</a> as "photoset_id".
    </div>
    <div class="well well-lg">
      <recent-photos flickr-id="flickrID" count="12"></recent-photos>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Running with Grunt</h2>
    <p>Download the project and run
      <kbd>grunt serve</kbd>
    </p>
    <h2>Setup</h2>
    <p>Because of the Masonry pluging the order in which depecdencies are loaded makes a difference. Specifically the angular-masonry plugin. Please load in the following order:</p>
    <!-- ESCAPED DEPENDENCIES HTML -->
    <pre>
&lt;script src=&quot;bower_components/jquery/dist/jquery.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular/angular.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/bootstrap/dist/js/bootstrap.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-animate/angular-animate.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-resource/angular-resource.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-route/angular-route.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-sanitize/angular-sanitize.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-touch/angular-touch.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/get-size/get-size.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/jquery-bridget/jquery-bridget.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/ev-emitter/ev-emitter.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/desandro-matches-selector/matches-selector.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/fizzy-ui-utils/utils.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/outlayer/item.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/outlayer/outlayer.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/masonry/masonry.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/imagesloaded/imagesloaded.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;bower_components/angular-masonry/angular-masonry.js&quot;&gt;&lt;/script&gt;</pre>
    <p>Specifically &lt;script src=&quot;bower_components/outlayer/item.js&quot;&gt;&lt;/script&gt; needs to be loaded before &lt;script src=&quot;bower_components/outlayer/outlayer.js&quot;&gt;&lt;/script&gt;. Also &lt;script src=&quot;bower_components/jquery-bridget/jquery-bridget.js&quot;&gt;&lt;/script&gt; needs to come before &lt;script src=&quot;bower_components/ev-emitter/ev-emitter.js&quot;&gt;&lt;/script&gt;
    </p>
    <p>Include the file "source/angular-flickr-integrations.js" found in the root of this project. Individual js files can be found at "app/flick/flickr-***.js"</p>
    <h3>Views</h3>
    <p>Each directive has one HTML file associated with it. The default view location is /flickr/flickr-****.html. This can be overwritten using the "new-view".</p>
    <pre>&lt;flickr-album album-id=&quot;foo&quot; new-view=&quot;bar/view.html&quot;&gt;&lt;/flickr-album&gt;</pre>
    <ul>
      <li>flickr-album.html</li>
      <li>flickr-img.html</li>
      <li>flickr-recent.html</li>
    </ul>
  </div>
</div>
