<div class="row">
  <div class="col-md-4">
    <!-- {{galleryID}} -->
    <flickr-gallery flickr-key="galleryID"></flickr-gallery>
  </div>
  <div class="col-md-8">
    <flickr-photo flickr-id="gallery.photoDetail"></flickr-photo>
  </div>
</div>
<div class="row">
  <recent-photos flickr-id="recent" class="col-md-6"></recent-photos>
  <div class="col-md-6">
    <!-- <flickr-photo photo-id="recent._photoDetail_y"></flickr-photo> -->
  </div>
</div>
<p><a class="btn btn-lg btn-success" ng-href="#/"><span class="glyphicon glyphicon-ok"></span></a></p>
</div>
